<form class="form mat-elevation-z8">
    <h1>Deletando Cliente</h1>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input disabled [(ngModel)]="associado.nome" name="nome" maxlength="100" matInput placeholder="Ex. Pedro">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>CPF</mat-label>
        <input disabled [(ngModel)]="associado.cpf" name="cpf" maxlength="15" matInput placeholder="Ex. 111.111.111-11">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input disabled [(ngModel)]="associado.telefoneFixo" name="telefone" maxlength="18" matInput placeholder="Ex. (61) 3333-3333">
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="warn">INATIVAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="primary">CANCELAR</button>
</form>