.form {
    width: 70%;
    margin: auto;
    padding: 4rem 2rem;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.sessenta-width {
    width: 60%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.cinquenta-width {
    width: 50%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.quarenta-width {
    width: 40%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.vinte-width {
    width: 17%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.dez-width {
    width: 10%;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

button {
    width: 48%;
    margin: .4rem;
}